<div class="center jumbotron">
    <h1>Les évènements</h1>
    

    <% @events.each do |e| %>

      <p>  <%= e.description %> </p> <br>
    <p> <%= e.date %></p> </br>
<p> <%= place %> </p> <br>
        <% end %>       
    show
</div>
